<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/analysis.css') }}">

    <title>Document</title>
</head>
<body>
    <div>
         <!-- Navigation bar -->
         <nav>
            <img height="50px" width="100px" src="{{ url_for('static', filename='img/olympic_logo.jpg') }}" alt="olympic_logo">
            <ul  class="navbar">
                <li><a href="/">Home</a></li>
                <li><a  class="active" href="/analysis">Analysis</a></li>
               
                <li><a href="/baytickets">Buy Ticket</a></li>
                <li><a href="/forum">Forum</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>